.git
.gitignore
.github
.venv
**/.venv
venv
env

.env
.env.*
!.env.example

__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

data/raw
data/bronze
data/checkpoints
*.parquet

infrastructure/airflow/logs
dbt/logs
dbt/**/logs
dbt/**/target
dbt/**/dbt_packages

site
build
dist
*.egg-info
*.log

docs
tests
mkdocs.yml
